body {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

#content {
  border: 1px solid;
}

textarea {
  vertical-align: top;
  height: 600px;
  resize: none;
  color: #aaffaa;
  background-color: black;
}
